scipy==1.1.0
keras~=2.2.4
setuptools
tensorflow_hub
requests
matplotlib
pydicom
scikit-image
sklearn
jupyter
pandas
natsort
progress
imageio
tqdm
requests
bayesian-optimization
yapf
parse
memory-profiler
seaborn
opencv-python
